<section class="clients">
  <div class="container">
    <div class="clients__top">
      <h2 class="clients__title clients__animation">
        Our Beloved
        Client
      </h2>
      <div class="clients__text clients__animation">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam.
      </div>
    </div>
    <div class="clients__items">
      <div class="clients__item clients__animation">
        LOGO CLIENT 1
      </div>
      <div class="clients__item clients__animation">
        LOGO CLIENT 2
      </div>
      <div class="clients__item clients__animation">
        LOGO CLIENT 3
      </div>
      <div class="clients__item clients__animation">
        LOGO CLIENT 4
      </div>
      <div class="clients__item clients__animation">
        LOGO CLIENT 5
      </div>
      <div class="clients__item clients__animation">
        LOGO CLIENT 6
      </div>
      <div class="clients__item clients__animation">
        LOGO CLIENT 7
      </div>
      <div class="clients__item clients__animation clients__item-button">
        <button class="clients__button">
          More Client
        </button>
      </div>
    </div>
  </div>
</section>