<footer class="footer">
  <div class="footer__wrapper">
    <div class="container">
      <div class="footer__top">
        <div class="footer__top-left">
          <h2 class="footer__top-title">
            Intersted to woek
            with our team?
          </h2>
          <div class="footer__top-suptitle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam.
          </div>
        </div>
        <div class="footer__top-right">
          <button class="footer__top-modal link" onclick="event.stopPropagation()">
            Let’s Talk
          </button>
        </div>
      </div>
      <div class="footer__bottom">
        <ul class="footer__bottom-column footer__bottom-column-1">
          <li class="footer__bottom-li">
            <a class="footer__bottom-link footer__bottom-logo" href="#">
              <img src="img/footerLogo.svg" width="48" height="48" alt="logo" loading="lazy">
              <span class="footer__bottom-span">
                Afrianska
              </span>
            </a>
          </li>
          <li class="footer__bottom-li">
            <span class="footer__bottom-icon">
              A.
            </span>
            <span class="footer__bottom-link no-animation">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </span>
          </li>
          <li class="footer__bottom-li">
            <span class="footer__bottom-icon">
              T.
            </span>
            <a class="footer__bottom-link" href="tel:+6281273134321">
              +62-812-7313-4321
            </a>
          </li>
          <li class="footer__bottom-li">
            <span class="footer__bottom-icon">
              E
            </span>
            <a class="footer__bottom-link" href="mailto:hello.afrian@gmail.com">
              hello.afrian@gmail.com
            </a>
          </li>
        </ul>
        <ul class="footer__bottom-column footer__bottom-column-2">
          <li class="footer__bottom-li">
            <h3 class="footer__bottom-title">About US</h3>
          </li>
          <li class="footer__bottom-li">
            <a class="footer__bottom-link" href="#">About</a>
          </li>
          <li class="footer__bottom-li">
            <a class="footer__bottom-link" href="#">What We Do</a>
          </li>
          <li class="footer__bottom-li">
            <a class="footer__bottom-link" href="#">Project</a>
          </li>
          <li class="footer__bottom-li">
            <a class="footer__bottom-link" href="#">How It Work With Us</a>
          </li>
        </ul>
        <ul class="footer__bottom-column footer__bottom-column-3">
          <li class="footer__bottom-li">
            <h3 class="footer__bottom-title">Follow US</h3>
          </li>
          <li class="footer__bottom-li">
            <a class="footer__bottom-link" href="https://www.instagram.com/delement.ru/" target="_blank"
              rel="noopener noreferrer">
              Instagram
            </a>
          </li>
          <li class="footer__bottom-li">
            <a class="footer__bottom-link" href="http://" target="_blank" rel="noopener noreferrer">
              Facebook
            </a>
          </li>
          <li class="footer__bottom-li">
            <a class="footer__bottom-link" href="http://" target="_blank" rel="noopener noreferrer">
              LinkedIn
            </a>
          </li>
          <li class="footer__bottom-li">
            <a class="footer__bottom-link" href="https://www.youtube.com/@user-cg3fp9tz2n/featured" target="_blank"
              rel="noopener noreferrer">
              Youtube
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__copy">
        2019 © Afrianska. All rights reserved.
      </div>
    </div>
  </div>
</footer>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="arrow" viewBox="0 0 24 24">
    <path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="#5A98D0" />
  </symbol>
</svg>