<section class="what">
  <div class="container">
    <div class="what__inner">
      <div class="what__left">
        <h2 class="what__title what__animation">
          What we do to help
          our client grow in
          digital era,
        </h2>
        <div class="what__item what__item-2 what__animation">
          <img class="what__img" src="img/what2.svg" width="182" height="132" alt="img2" loading="lazy">
          <h3 class="what__item-title">
            Make Your business To Be
            Better Famous In Internet
          </h3>
          <div class="what__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </div>
          <a class="what__link" href="#">
            <span class="what__span">Learn more</span>
            <svg width="24" height="24" alt="arrow" loading="lazy">
              <use xlink:href="#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="what__right">
        <div class="what__item what__item-1 what__animation">
          <img class="what__img" src="img/what1.svg" width="224" height="197" alt="img1" loading="lazy">
          <h3 class="what__item-title">
            Bring Technology To Your
            Comfrotable Home
          </h3>
          <div class="what__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </div>
          <a class="what__link" href="#">
            <span class="what__span">Learn more</span>
            <svg width="24" height="24" alt="arrow" loading="lazy">
              <use xlink:href="#arrow"></use>
            </svg>
          </a>
        </div>
        <div class="what__item what__animation">
          <img class="what__img" src="img/what3.svg" width="156" height="131" alt="img3" loading="lazy">
          <h3 class="what__item-title">
            Make Your business To Be
            Better Famous In Internet
          </h3>
          <div class="what__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </div>
          <a class="what__link" href="#">
            <span class="what__span">Learn more</span>
            <svg width="24" height="24" alt="arrow" loading="lazy">
              <use xlink:href="#arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>